body {
  background-color: black;
}
.container {
  color: white;
  padding: 1%;
}
.buttongraph {
  display: flex;
  justify-content: space-between;
}
#btna {
  width: 105px;
  height: 47px;
  font-size: 15px;
}
.par {
  font-size: 19px;
  float: right;
}
.head {
  text-align: center;
}
.guess {
  font-size: 4rem;
}
.mark {
  width: 129px;
  height: 129px;
  font-size: 4rem;
  margin: auto;
  vertical-align: middle;
  background-color: white;
  color: black;
}
.all {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box p {
  font-size: 2rem;
}

#rec {
  width: 30%;
  font-size: 3rem;
  padding: 1rem;
  color: white;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
}
.check {
  font-size: 20px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  display: block;
}
